//------------------------------------------------------------------------
//  $Buttons
//------------------------------------------------------------------------


%btn {
    display: inline-block;
    vertical-align: middle;
    padding: em(12);
    transition: color .2s ease;

    &:hover {
        color: $grey;
    }
}