//------------------------------------------------------------------------
//  $Preloader
//------------------------------------------------------------------------


.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%,-50%);

    .loaded & {
        display: none;
    }

    &:before {
        content: 'Loading samples';
        display: block;
        margin-bottom: 0.5em;
        font-size: em(21);
        letter-spacing: ls(200);
        text-transform: uppercase;
    }

    span {
        display: inline-block;
        width: em(10);
        height: em(6);
        margin: 0 em(2);
        background-color: $black;
        animation-name: preload;
        animation-duration: 1.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: #{0.2 * $i}s;
            }
        }
    }
}

@keyframes preload {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(3.4);
    }
}


//------------------------------------------------------------------------
//  $Samples
//------------------------------------------------------------------------


.samples {
    display: inline-block;
    width: 90%;
    max-width: em(900);
    margin: 5% 0;
    text-align: left;
    transition: opacity .3s ease;

    @include mq-h($m) {
        position: absolute;
        top: 45%;
        left: -50%;
        width: 80%;
        margin: 0;
        transform: translate(-50%,-50%);

        .loaded & {
            left: 50%;
        }
    }
}

.sample {
    position: relative;
    display: inline-block;
    width: 12.2%;
    height: 0;
    padding-bottom: 12.2%;
    margin: 2.2%;
    transition: all 0.2s ease;

    &:hover {
        -webkit-backface-visibility: hidden;
        transform: translateZ(0) scale(0.95);
    }

    &.playing {
        opacity: 0.3 !important;
    }

    &:nth-child(6) {
        margin-left: 18.8%;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: {
            repeat: no-repeat;
            position: center;
            size: contain;
        }
        opacity: 0;
    }
}

@for $i from 1 through 14 {
    .sample-#{$i}:before {
        background-image: url("../assets/img/#{$i}-round.jpg");
    }
}

$index: 1;
$samples: 14;
.loaded & {
    @while $samples > 0 {
        .sample-#{$samples}:before {
            animation: enter 1s ease-in-out forwards;
            // animation-delay: ( #{0.15 * $index}s );
        }
        $index: $index + 1;
        $samples: $samples - 1;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(em(-150));
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}