//------------------------------------------------------------------------
//  $Game
//------------------------------------------------------------------------


.game {
    display: inline-block;
    width: 90%;
    max-width: em(900);
    margin: 5% 0;
    text-align: left;
    transition: opacity .3s ease;

    @include mq-h(480) {
        position: absolute;
        top: 50%;
        left: -50%;
        width: 90%;
        margin: 0;
        transform: translate(-50%,-50%);

        .loaded & {
            left: 50%;
        }
    }
}


//------------------------------------------------------------------------
//  $Samples
//------------------------------------------------------------------------


.samples {
    margin-top: em(20);
}

.sample {
    position: relative;
    display: inline-block;
    width: 12.2%;
    height: 0;
    padding-bottom: 12.2%;
    margin: 2.2%;
    opacity: 0.3;
    transition: all 0.2s ease;
    cursor: url("../assets/img/cursor-add.png"), auto;

    &:hover {
        -webkit-backface-visibility: hidden;
        transform: translateZ(0) scale(0.95);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: {
            repeat: no-repeat;
            position: center;
            size: contain;
        }

        .cssanimations & {
            opacity: 0;
        }
    }

    &.is-chosen {
        opacity: 1;
        cursor: url("../assets/img/cursor-remove.png"), auto;

        &:hover {
            transform: none;
        }
    }

    .found & {
        opacity: 1;
        transition: opacity 2s ease;
        cursor: default;

        &:hover {
            transform: none;
        }
    }

    &:nth-child(6) {
        margin-left: 18.8%;
    }
}

@for $i from 1 through 14 {
    .sample:nth-child(#{$i}):before {
        background-image: url("../assets/img/#{$i}.jpg");
    }
}

$index: 1;
$samples: 14;
.cssanimations .loaded & {
    @while $samples > 0 {
        .sample:nth-child(#{$samples}):before {
            animation: enter 1s ease-in-out forwards;
            animation-delay: ( #{0.15 * $index}s );
        }
        $index: $index + 1;
        $samples: $samples - 1;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(em(-150));
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


//------------------------------------------------------------------------
//  $Counter
//------------------------------------------------------------------------


.counter {
    text-align: center;
    transition: opacity 1s ease;

    .found & {
        opacity: 0;
    }
}

.counter__text {
    font-size: 1.5em;
}