//------------------------------------------------------------------------
//  $Social
//------------------------------------------------------------------------


.social__item {
    display: inline-block;
}

.social__link {
    display: block;
    padding: em(8,14) em(8,14) 0;
    font: em(14) $ff-primary;
    letter-spacing: ls(100);
    text-transform: uppercase;
}