//------------------------------------------------------------------------
//  $Warning
//------------------------------------------------------------------------


.warning {
    position: absolute;
    bottom: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $red;
    transition: opacity .3s ease;

    &.is-hidden {
        opacity: 0;
    }
}