//------------------------------------------------------------------------
//  $Main
//------------------------------------------------------------------------


*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
}

body {
    font-size: em($base-font-size);
    line-height: ($base-line-height/$base-font-size);
    font-family: $ff-primary;
    text-align: center;
    color: $black;
    background: $white;
}

a {
    color: $black;
    text-decoration: none;
}