//------------------------------------------------------------------------
//  $Header
//------------------------------------------------------------------------


.header {
    padding-top: 10%;

    @include mq($m) {
        padding-top: 5%;
    }

    @include mq-h($m) {
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 3%;
    }
}