//------------------------------------------------------------------------
//  $Header
//------------------------------------------------------------------------


.header {
    padding-top: 10%;

    @include breakpoint($m) {
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 4%;
    }
}

